@using FiorelloBackend.ViewModels;
@model List<BasketDetailVm>
@{
    ViewData["Title"] = "Index";
    decimal grandTotal = Model.Sum(m => m.Total);
}

@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" integrity="sha512-gOQQLjHRpD3/SEOtalVq50iDn4opLVup2TF8c4QPI3/NmUPNZOk2FG0ihi8oCU/qYEsw4P6nuEZT2lAG0UNYaw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<div class="container mb-5">

    <div class="alert alert-warning alert-basket-empty @(Model.Count == 0 ? "" : "d-none")" role="alert">
            Basket is empty!
        </div>

    <div class="table-responsive basket-table @(Model.Count != 0 ? "" : "d-none")">
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Price
                    </th>
                    
                    <th>
                        Count
                    </th>
                    <th>
                        Total price
                    </th>
                    <th>
                        
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                   <tr>

                    <td class="py-1">

                            <img src="~/img/@product.Image" style="width:100px;height:130px"/>
                        </td>
                        <td>
                            @product.Name

                        </td>

                        <td>
                            @product.Description 

                        </td>

                        <td>
                            @product.Category
                        </td>
                        <td>
                           @product.Price $
                        </td>
                        <td class="product-count">
                            <i data-id="@product.Id" class="fa-solid fa-minus" style="cursor:pointer"></i> <span>@product.Count</span> <i data-id="@product.Id" class="fa-solid fa-plus" style="cursor:pointer"></i>
                        </td>
                        <td >
                            <span>@product.Total</span> $
                        </td>
                        <td>
                                <button class="btn btn-danger" data-id="@product.Id">Delete</button>
                        </td>

                    </tr>

                }
            </tbody>
      
        </table>
        <div class="grand-total mt-2">
            <h1>Grand total: <span>@grandTotal</span> $</h1>
        </div>
    </div>
    
    
    
    
</div>
@section script{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.31/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/basket.js"></script>
    }

